/*
  MC_spruce 制作

  文字颜色：
  class="c-颜色名称"
  背景颜色：
  class="c1-颜色名称"
*/

/*文字颜色*/
.c-black {
  color: #000000;
}

.c-orange {
  color: #ff9131;
}

.c-silver {
  color: #bebebe;
}

.c-purple {
  color: #cb2fff;
}

.c-pink {
  color: #ff84c5;
}

.c-blue {
  color: #1058d3;
}

.c-light-blue {
  color: #24cfdf;
}

.c-gray {
  color: #464646;
}

.c-cyan {
  color: #21ff9f;
}

.c-gold {
  color: #ffd446;
}

.c-red {
  color: #ff0000;
}

.c-green {
  color: #006C0E;
}

.c-light-green {
  color: #8bc411;
}

.c-dark-blue {
  color: #003da0;
}

.c-yellow {
  color: #f8ff00;
}

.c-dark-yellow {
  color: #c1be00;
}

/*文字背景颜色*/
.c1-black {
  background: #000000;
  color: #ffffff;
}

.c1-orange {
  background: #ff9131;
}

.c1-bebebe {
  background: #bebebe;
}

.c1-purple {
  background: #cb2fff;
}

.c1-pink {
  background: #ff84c5;
}

.c1-blue {
  background: #1058d3;
}

.c1-light-blue {
  background: #24cfdf;
}

.c1-gray {
  background: #464646;
  color: #ffffff;
}

.c1-cyan {
  background: #003da0;
}

.c1-dark-blue {
  background: #003da0;
}

.c1-gold {
  background: #ffd446;
}

.c1-green {
  background: #006C0E;
}

.c1-light-green {
  background: #8bc411;
}

.c1-brown {
  background: #9c6500;
}

.c1-yellow {
  background: #fffcaf;
}

.c1-dark-yellow {
  background: #c1be00;
}

.c1-red {
  background: #ff0000;
  color: #ffffff
}