.hljs {
    border: 0;
    font-family: serif;
    font-size: 12px;
    background: #ffffff;
    display: block;
    padding: 1px;
    margin: 0;
    width: 100%;
    font-weight: 200;
    color: #333;
    white-space: pre-wrap
}

.hljs ul {
    list-style: decimal;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 0 40px !important;
    border-collapse: collapse;
    padding: 0px;
}

.hljs ul li {
    list-style: decimal-leading-zero;
    border-left: 2px solid rgb(166, 208, 255) !important;
    background: rgb(255, 255, 255);
    padding: 5px !important;
    margin: 0 !important;
    line-height: 1.1em;
    word-break: break-all;
    word-wrap: break-word;
}

.hljs ul li:nth-of-type(even) {
    background-color: #ffffff;
    color: inherit;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}

.hljs-literal {
    color: #56b6c2
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #4eac0b
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #e6c07b
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs-link {
    text-decoration: underline
}