/* 主题 */
/* 默认主题 */
body[data-theme="light"] {
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(.02, .01, .47, 1);
  overflow-x: hidden;
  background: #ffffff;
  --tip-bg: rgb(228, 228, 228);
  --panel: #f3f3f3;
  --link: #0059e9;
  --link-hover: #003da0;
  --image: brightness(100%);
  /*表格*/
  --table-thead: #0a9dff;
  --tbody-odd: rgb(230, 230, 230);
  --tbody-hover: rgb(202, 202, 202);
  /*代码*/
  --copy-btn: #e4e4e4;
  --codebg: #f3f3f3;
  /*侧边栏*/
  --sidebar-bg: rgba(236, 236, 236, 0.55);
  --sidebar-btn-t: #4d4d4d;
  --sidebar-btn-s: 0 5px 8px 0 rgba(113, 113, 124, 0.3);
  --sidebar-title-color: #000000;
  --sidebar-btnh-bg: #ffffff;
  /*返回顶部*/
  --to-top-bg: rgb(225, 225, 225);
  --to-top-hover-bg: rgb(255, 255, 255);
  --to-top-s: 20px 20px 52px #c4c4c4,
    -20px -20px 52px #ffffff;
  --to-top-text: #000000;
  /*顶栏*/
  --header-color: linear-gradient(to right, rgb(0, 216, 223), rgb(35, 130, 255));
}
/* 黑暗主题 */
body[data-theme="dark"] {
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(.02, .01, .47, 1);
  overflow-x: hidden;
  background: #1A1A1A;
  color: #ffffff;
  --tip-bg: #606060;
  --panel: #424242;
  --link: #10CBFF;
  --link-hover: #A9ECFF;
  --image: brightness(80%);
  /*表格*/
  --table-thead: #335EE1;
  --tbody-odd: #404040;
  --tbody-hover: #585858;
  /*代码*/
  --copy-btn: #9e9e9e;
  --codebg: #666666;
  /*侧边栏*/
  --sidebar-bg: rgba(80, 80, 80, 0.55);
  --sidebar-title-color: #acacac;
  --sidebar-btn-t: #ffffff;
  --sidebar-btn-s: 0 5px 8px 0 rgba(230, 230, 230, 0.4);
  --sidebar-btnh-bg: #ebebeb;
  /*返回顶部*/
  --to-top-bg: rgb(130, 130, 130);
  --to-top-hover-bg: rgb(184, 184, 184);
  --to-top-s: 8px 8px 10px #141414,
        -3px -3px 10px #3b3b3b;
  --to-top-text: #ffffff;
  /*顶栏*/
  --header-color: linear-gradient(to right, rgb(32, 114, 255), rgb(89, 36, 233));
}

/* 顶栏 */
.top_header {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 114514;
    height: 60px;
    width: 105%;
    margin-left: -5%;
    background: var(--header-color);
    position: fixed;
    top: 0;
}

/* 顶栏内容 */
.top_header ul {
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
}

.top_header li {
    float: left;
    margin-right: 3%;
    position: relative;
    overflow: hidden;
}

.top_header li a {
    display: block;
    color: #ffffff;
    font-family: 微软雅黑;
    text-align: center;
    right: 5%;
    padding: 3px;
    font-weight: bold;
    overflow: hidden;
    text-decoration: none;
}

.top_header li a:hover {
    color: #cbfff4;
}

.top_header li div a {
    position: relative;
    color: #ffffff;
    font-family: 微软雅黑;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    overflow: hidden;
    text-decoration: none;
}

.top_header li div a:hover {
    color: #cbfff4;
}

/* 侧边栏 */
.sidenav {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    height: calc(100% - 60px);
    width: 0;
    position: fixed;
    z-index: 666;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(8px);
    background-color: var(--sidebar-bg);
    overflow-x: hidden;
    transition: 0.25s;
}

.sidenav div::-webkit-scrollbar {
    display: none;
}

.sidenav div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-title {
  color: var(--sidebar-title-color);
  font-size: 20px;
  margin-left: 3px;
  margin-bottom: 2px;
  font-weight: bold;
}

.sidebar-hr {
  width: 90%;
  background: -webkit-linear-gradient(left, rgb(118, 189, 255) , rgb(12, 36, 255));
  height: 1px;
  border: none;
}

.sidenav-button {
    padding: 5px 5px 8px 8px;
    margin-left: 6px;
    margin-right: 6px;
    text-decoration: none;
    font-size: 15px;
    color: var(--sidebar-btn-t);
    display: block;
    -webkit-transition: all 0.6s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.6s cubic-bezier(.02, .01, .47, 1);
}

.sidenav-button:hover {
    transform: translate(0, -1px);
    transition-delay: 0s !important;
    box-shadow: var(--sidebar-btn-s);
    background-color: var(--sidebar-btnh-bg);
    border-radius: 8px;
    color: #2339ff;
}

.follow {
    padding: 5px 5px 8px 8px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 3px;
    margin-top: 3px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: #525252;
    background-color: #ff61e5;
    border: #ff1bd9 solid 1px;
    border-radius: 20px;
    width: 85%;
    bottom: 5px;
    display: block;
}

.follow:hover {
    color: #fdfdfd;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* 排版 */
.top-title {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 35px;
}

.list-link {
    color: var(--link);
    text-decoration: none;
}

.list-link:hover {
    color: var(--link-hover);
}

.home-btn {
    text-decoration: none;
    background: #4f93ff;
    color: aliceblue;
    padding: 3px 8px 3px 8px;
    border: #5246ff solid 1px;
    border-radius: 5px;
    bottom: 3px;
}

.home-btn:hover {
    background: #0062ff;
}

.edit-btn {
    text-decoration: none;
    background: #57B30C;
    color: aliceblue;
    padding: 3px 8px 3px 8px;
    border: #3D8403 solid 1px;
    border-radius: 5px;
    bottom: 3px;
}

.edit-btn:hover {
    background: #85DF3A;
}

.theme-btn {
    text-decoration: none;
    background: #4F99FF;
    color: aliceblue;
    padding: 3px 8px 3px 8px;
    border: #1253AF solid 1px;
    border-radius: 10px;
    bottom: 3px;
}

.theme-btn:hover {
    background: #4E57FF;
}

.tip {
    border-left: #415dff solid 3px;
    background: var(--tip-bg);
    padding-top: 3px;
    padding-bottom: 3px;
}

.tip-text {
    margin-left: 4px;
}

.code {
    background: var(--codebg);
    list-style-type: none;
    padding: 1px 10px;
    border-radius: 8px;
}

.panel {
    background: var(--panel);
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 0 3px 0 3px;
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel:hover {
    box-shadow: 0 16px 25px 0 rgba(113, 113, 124, 0.3);
    transform: translate(0, -4px);
    transition-delay: 0s !important;
}

.title {
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
}

.title-hr {
    border: none;
    background-color: #b1b1b1;
    height: 2px;
    border-radius: 1px;
}

.copy-btn {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background: var(--copy-btn);
    font-size: 15px;
    padding: auto;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 6px;
    border: none;
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.copy-btn:hover {
    background: #5d90ff;
    transform: translate(-5px, 0);
    transition-delay: 0s !important;
}

/* 表格 */
table {
    border-collapse: collapse;
}

table caption {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0;
}

th, td {
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
    padding: 10px 0;
}

table thead tr {
    background: var(--table-thead);
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background: var(--tbody-odd);
}

table tbody tr:hover {
    background: var(--tbody-hover);
}

/* 其他 */
.to_top {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background-color: var(--to-top-bg);
    border: none;
    border-radius: 8px;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(.02, .01, .47, 1);
}

.to_top:hover {
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(.02, .01, .47, 1);
    box-shadow: var(--to-top-s);
    background-color: var(--to-top-hover-bg);
}

.to-top-text {
  color: var(--to-top-text);
}

@keyframes to-top-anim {
    0% {
        right: -5%;
        opacity: 0.1;
    }
   80% {
        right: 4%;
        opacity: 1;
    }
   100% {
        right: 3%;
        opacity: 1;
    }
}